@{
    ViewData["Title"] = "Juego";
}
<h1>@ViewData["Title"]</h1>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 en Raya</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h1>Juego 4 en Raya</h1>
    <div id="gameBoard"></div>
    <button id="resetBtn">Reiniciar Juego</button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>

